<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img height="260px" src="https://i.pinimg.com/originals/4f/16/80/4f1680ba3b205dd1915b2033e93213a7.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="260px" src="https://wallpaperaccess.com/full/983117.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="260px" src="https://w0.peakpx.com/wallpaper/855/812/HD-wallpaper-health-doctor-hospital-healthtips-doctor-health.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <h2 align="center">ABOUT US</h2>
                 <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos velit mollitia, inventore unde repellat soluta ullam itaque voluptate corporis! Porro pariatur esse soluta odit animi? Aliquam esse ipsam voluptatibus fugiat?</h3>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h2 align="center">VISION</h2>
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos velit mollitia, inventore unde repellat soluta ullam itaque voluptate corporis! Porro pariatur esse soluta odit animi? Aliquam esse ipsam voluptatibus fugiat?</h3>
                </div>
            </div>
        </div>
    </div>
</div>